---
import Info from "../cards/Info.astro";
import Container from "../shared/Container.astro";
import Paragraph from "../shared/Paragraph.astro";
import Title from "../shared/Title.astro";
---

<section id="about-us">
  <Container className="flex flex-col midmd:flex-row gap-10 lg:gap-12">
    <div
      class="max-w-md mx-auto midmd:max-w-none lg:mx-0 lg:pr-10 xl:pr-2 flex-1 flex w-11/12 midmd:w-5/12 lg:w-1/2 midmd:h-auto"
    >
      <div class="w-full h-80 sm:h-96 midmd:h-full relative">
        <div
          class="absolute rotate-45 -left-5 md:-left-10 lg:-left-20 xl:-left-24 p-1 top-1/2 w-16 h-16 bg-gradient-to-br from-red to-red-400 blur-3xl opacity-50"
        >
        </div>
        <div
          class="absolute p-1 -top-4 md:-top-10 right-0 w-20 h-20 bg-gradient-to-br from-red to-red-400 rounded-full blur-3xl opacity-60"
        >
        </div>

        <span
          class="absolute w-full aspect-[16/5] -skew-x-12 rounded-full bg-gradient-to-tr from-primary to-red-400 opacity-40 blur-2xl left-0 bottom-0"
        ></span>
        <img
          src={"/images/new.png"}
          alt="banner image"
          width="1240"
          height="1385"
          class="w-auto left-1/2 -translate-x-1/2 absolute bottom-0 max-h-full"
        />
      </div>
    </div>
    <div class="flex-1 flex midmd:w-7/12 lg:w-1/2 flex-col">
      <Title>Student Goals</Title>
      <Paragraph className="mt-8">
        We are a student-ran club at Dougherty Valley High School. Along with
        competing in the competition we want to be able to share our learnings
        with members of our community. Checkout our instagram or blog posts for
        more details on what we do, and our progress.
      </Paragraph>
      <div
        class="pt-8 grid grid-cols-2 items-center gap-4 max-w-3xl md:max-w-[none]"
        style="cursor: pointer;"
      >
        <Info
          description="Check our progress throughout the months."
          title="Instagram"
        />
        <Info description="Checkout in-depth thinking from us." title="Blog" />
      </div>
    </div>
  </Container>
</section>
