---
import Button from "../shared/Button.astro";
import Container from "../shared/Container.astro";
import Paragraph from "../shared/Paragraph.astro";
import ByNumber from "./ByNumber.astro";
import nasa from "../../../public/images/nasa.json";
---

<style>
  .backg {
    position: relative;
    height: 500px;
    width: 500px;
    border-radius: 50%;
    /* background-color: rgba(0, 0, 0, 0.1); */
    transform: scale(0.7);
  }
  .planet {
    height: 200px;
    width: 200px;
    border-radius: 50%;
    position: relative;
    background-color: #ff9933;
    top: 45px;
    left: 220px;
  }
  .r1 {
    background-color: #ffbf80;
    height: 20px;
    width: 110px;
    border-radius: 10px;
    position: relative;
    top: 60px;
    left: 85px;
  }
  .r2 {
    background-color: #ffbf80;
    height: 15px;
    width: 90px;
    border-radius: 6.5px;
    position: relative;
    top: 80px;
    left: 110px;
  }
  .r3 {
    background-color: #ffbf80;
    height: 30px;
    width: 120px;
    border-radius: 15px;
    position: relative;
    top: 78px;
    left: 50px;
  }
  .r4 {
    background-color: #ffbf80;
    height: 22px;
    width: 90px;
    border-radius: 11px;
    position: relative;
    top: 70px;
    left: 12px;
  }
  .r5 {
    background-color: rgba(204, 102, 0, 0.3);
    height: 15px;
    width: 40px;
    border-radius: 7.5px;
    position: relative;
    bottom: 50px;
    left: 70px;
  }
  .r6 {
    background-color: rgba(204, 102, 0, 0.3);
    height: 20px;
    width: 60px;
    border-radius: 11px;
    position: relative;
    bottom: 25px;
    left: 10px;
  }
  .r7 {
    background-color: rgba(204, 102, 0, 0.3);
    height: 15px;
    width: 45px;
    border-radius: 7.5px;
    position: relative;
    top: 40px;
    left: 130px;
  }
  .r8 {
    background-color: rgba(255, 255, 255, 0.4);
    height: 12px;
    width: 30px;
    border-radius: 7.5px;
    position: relative;
    top: 7px;
    left: 32px;
  }
  .shad {
    background-color: transparent;
    box-shadow: 15px 15px rgba(204, 102, 0, 0.3);
    position: relative;
    height: 200px;
    width: 200px;
    border-radius: 50%;
    bottom: 164px;
    right: 16px;
  }
  .astro {
    position: relative;
    left: 131px;
    bottom: 250px;
    transform: rotate(-30deg);
  }
  .an {
    animation-name: flo;
    animation-duration: 5s;
    animation-iteration-count: infinite;
    position: relative;
    bottom: 80px;
    left: 20px;
  }
  @keyframes flo {
    50% {
      transform: translateY(30px);
    }
  }
  .tank {
    background-color: #a6a6a6;
    height: 120px;
    width: 120px;
    border-radius: 10px;
    position: relative;
    left: 95px;
    top: 50px;
    transform: rotate(-30deg);
  }
  .helmet {
    background-color: white;
    height: 93px;
    width: 100px;
    border-radius: 45%;
    position: relative;
    left: 20px;
    z-index: 5;
  }
  .glass {
    background-color: #666666;
    height: 60px;
    width: 80px;
    border-top-left-radius: 60%;
    border-top-right-radius: 60%;
    border-bottom-left-radius: 40%;
    border-bottom-right-radius: 40%;
    position: relative;
    left: 10px;
    top: 7px;
  }
  .shine {
    background-color: rgba(166, 166, 166, 0.7);
    height: 15px;
    width: 15px;
    border-radius: 50%;
    position: relative;
    left: 10px;
    top: 15px;
  }
  .dress {
    background-color: #f2f2f2;
    height: 100px;
    width: 100px;
    border-radius: 10%;
    position: relative;
    bottom: 5px;
    left: 20px;
  }
  .handr {
    height: 26px;
    width: 75px;
    background-color: #f2f2f2;
    border-radius: 40px;
    position: relative;
    bottom: 138px;
    left: 95px;
    transform: rotate(-20deg);
  }
  .handl {
    height: 26px;
    width: 75px;
    background-color: #f2f2f2;
    border-radius: 40px;
    position: relative;
    bottom: 111px;
    right: 29px;
    transform: rotate(20deg);
  }
  .handr1 {
    height: 26px;
    width: 57px;
    background-color: #f2f2f2;
    border-radius: 26px;
    position: relative;
    bottom: 18px;
    left: 35px;
    transform: rotate(90deg);
  }
  .handl1 {
    height: 26px;
    width: 57px;
    background-color: #f2f2f2;
    border-radius: 26px;
    position: relative;
    bottom: 17px;
    right: 17px;
    transform: rotate(-90deg);
  }
  .glover {
    height: 28px;
    width: 26px;
    background-color: white;
    border-top-left-radius: 50%;
    border-top-right-radius: 50%;
    transform: rotate(-90deg);
    position: relative;
    bottom: 1px;
    right: 16px;
  }
  .glovel {
    height: 28px;
    width: 26px;
    background-color: white;
    border-top-left-radius: 50%;
    border-top-right-radius: 50%;
    transform: rotate(90deg);
    position: relative;
    bottom: 1px;
    left: 42px;
  }
  .thumbr {
    height: 10px;
    width: 10px;
    border-radius: 50%;
    background-color: white;
    position: relative;
    right: 7px;
    top: 19px;
  }
  .thumbl {
    height: 10px;
    width: 10px;
    border-radius: 50%;
    background-color: white;
    position: relative;
    left: 21px;
    top: 19px;
  }
  .b1 {
    background-color: tomato;
    width: 28px;
    height: 5.5px;
    border-radius: 13px;
    position: relative;
    top: 18px;
    right: 1px;
  }
  .b2 {
    background-color: tomato;
    width: 28px;
    height: 5.5px;
    border-radius: 13px;
    position: relative;
    top: 18px;
    right: 1px;
  }
  .c {
    background-color: white;
    width: 55px;
    height: 30px;
    border-radius: 8px;
    position: relative;
    top: 25px;
    left: 23px;
  }
  .btn1 {
    height: 12px;
    width: 12px;
    border-radius: 50%;
    background-color: #4775ff;
    position: relative;
    left: 5px;
    top: 10px;
  }
  .btn2 {
    height: 12px;
    width: 12px;
    border-radius: 50%;
    background-color: #ffd147;
    position: relative;
    left: 21px;
    bottom: 2px;
  }
  .btn3 {
    height: 12px;
    width: 12px;
    border-radius: 50%;
    background-color: tomato;
    position: relative;
    bottom: 14px;
    left: 38px;
  }
  .btn4 {
    height: 20px;
    width: 20px;
    border-radius: 50%;
    background-color: #a6a6a6;
    position: relative;
    left: 19px;
    top: 4px;
  }

  .legl {
    height: 100px;
    width: 40px;
    background-color: #f2f2f2;
    position: relative;
    bottom: 68px;
    left: 5px;
    transform: rotate(20deg);
  }
  .legr {
    height: 100px;
    width: 40px;
    background-color: #f2f2f2;
    position: relative;
    bottom: 168px;
    left: 96px;
    transform: rotate(-20deg);
  }
  .bootl1 {
    background-color: white;
    width: 43px;
    height: 35px;
    border-top-left-radius: 50%;
    border-top-right-radius: 50%;
    position: relative;
    top: 65px;
    right: 1.5px;
  }
  .bootr1 {
    background-color: white;
    width: 43px;
    height: 35px;
    border-top-left-radius: 50%;
    border-top-right-radius: 50%;
    position: relative;
    top: 65px;
    right: 1.5px;
  }
  .bootl2 {
    background-color: tomato;
    width: 45px;
    height: 5px;
    border-radius: 21px;
    position: relative;
    top: 30px;
    right: 1.5px;
  }
  .bootr2 {
    background-color: tomato;
    width: 45px;
    height: 5px;
    border-radius: 21px;
    position: relative;
    top: 30px;
    right: 1.5px;
  }
  .pipe {
    background-color: transparent;
    height: 80px;
    width: 80px;
    border: 10px solid #4775ff;
    border-radius: 40px 0px 0px 70px;
    border-right: none;
    transform: rotate(180deg);
    position: relative;
    bottom: 330px;
    left: 130px;
  }
  .pipe2 {
    background-color: transparent;
    height: 90px;
    width: 42px;
    border: 10px solid #4775ff;
    border-radius: 40px 0px 0px 0px;
    border-right: none;
    transform: rotate(90deg);
    position: relative;
    border-bottom: none;
    left: 67px;
    bottom: 34px;
  }
  .pipe3 {
    height: 10px;
    width: 10px;
    background-color: #4775ff;
    position: relative;
    border-radius: 65%;
    bottom: 10px;
    left: 37px;
  }
  .s1,
  .s2,
  .s3,
  .s4,
  .s5,
  .s6 {
    background-color: white;
    width: 8px;
    height: 8px;
    border-radius: 50%;
    position: relative;
  }
  .s1 {
    bottom: 150px;
    left: 200px;
  }
  .s2 {
    top: 130px;
    left: 254px;
  }
  .s3 {
    bottom: 98px;
    left: 65px;
  }
  .s4 {
    top: 216px;
    left: 249px;
  }
  .s5 {
    top: 139px;
    left: 100px;
  }
  .s6 {
    top: 60px;
    left: 370px;
  }
  a {
    color: white;
    font-size: 25px;
    font-family: "Rubik", sans-serif;
    position: absolute;
    right: 20px;
    top: 20px;
    padding: 8px 12px 8px 12px;
    border: 2px solid white;
    text-decoration: none;
  }
</style>

<section class="relative pt-32 lg:pt-36">
  <Container className={"flex flex-col lg:flex-row gap-10 lg:gap-12"}>
    <div class="absolute w-full lg:w-1/2 inset-y-0 lg:right-0">
      <span
        class="absolute -left-6 md:left-4 top-24 lg:top-28 w-24 h-24 rotate-90 skew-x-12 rounded-3xl bg-blue-400 blur-xl opacity-60 lg:opacity-95 lg:block hidden"
      ></span>
      <span
        class="absolute right-4 bottom-12 w-24 h-24 rounded-3xl bg-red-400 blur-xl opacity-80"
      ></span>
    </div>
    <span
      class="w-4/12 lg:w-2/12 aspect-square bg-gradient-to-tr from- bg-red-400 to-primary absolute -top-5 lg:left-0 rounded-full skew-y-12 blur-2xl opacity-40 skew-x-12 rotate-90"
    ></span>
    <div
      class="relative flex flex-col items-center text-center lg:text-left lg:py-7 xl:py-8
        lg:items-start lg:max-w-none max-w-3xl mx-auto lg:mx-0 lg:flex-1 lg:w-1/2"
    >
      <h1
        class="text-3xl/tight sm:text-4xl/tight md:text-5xl/tight xl:text-6xl/tight
             font-bold text-heading-1"
      >
        We're <span
          class="text-transparent bg-clip-text bg-gradient-to-br from-red-500 from-10% via-red-500 via-30% to-primary"
          >DV Astros</span
        >. Competing in <span
          class="text-transparent bg-clip-text bg-gradient-to-br from-red-500 from-10% via-red-500 via-30% to-primary"
          >NASA</span
        > ADC (HS)
      </h1>
      <Paragraph className="mt-8">
        Competing in the NASA App Development Challenge 2025 while exploring
        technology and science through learning, community engagement, and
        teamwork.
      </Paragraph>
      <div class="mt-10 w-full flex max-w-md mx-auto lg:mx-0">
        <div class="flex sm:flex-row flex-col gap-5 w-full"></div>
      </div>
    </div>

    <div
      class="flex flex-1 lg:w-1/2 lg:h-auto relative lg:max-w-none lg:mx-0 mx-auto max-w-3xl"
    >
      <div
        class="lg:absolute lg:w-full lg:h-full rounded-3xl object-cover lg:max-h-none max-h-96"
        style="zoom:1.5; margin-top:0px; margin-left:-40px;
        display:flex;
        align-items:center;
        justify-content:center;"
      >
        <div class="backg">
          <div class="planet">
            <div class="r1"></div>
            <div class="r2"></div>
            <div class="r3"></div>
            <div class="r4"></div>
            <div class="r5"></div>
            <div class="r6"></div>
            <div class="r7"></div>
            <div class="r8"></div>
            <div class="shad"></div>
          </div>
          <div class="stars">
            <div class="s1"></div>
            <div class="s2"></div>
            <div class="s3"></div>
            <div class="s4"></div>
            <div class="s5"></div>
            <div class="s6"></div>
          </div>
          <div class="an">
            <div class="tank"></div>
            <div class="astro">
              <div class="helmet">
                <div class="glass">
                  <div class="shine"></div>
                </div>
              </div>
              <div class="dress">
                <div class="c">
                  <div class="btn1"></div>
                  <div class="btn2"></div>
                  <div class="btn3"></div>
                  <div class="btn4"></div>
                </div>
              </div>
              <div class="handl">
                <div class="handl1">
                  <div class="glovel">
                    <div class="thumbl"></div>
                    <div class="b2"></div>
                  </div>
                </div>
              </div>
              <div class="handr">
                <div class="handr1">
                  <div class="glover">
                    <div class="thumbr"></div>
                    <div class="b1"></div>
                  </div>
                </div>
              </div>
              <div class="legl">
                <div class="bootl1">
                  <div class="bootl2"></div>
                </div>
              </div>
              <div class="legr">
                <div class="bootr1">
                  <div class="bootr2"></div>
                </div>
              </div>
              <div class="pipe">
                <div class="pipe2">
                  <div class="pipe3"></div>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </Container>
</section>
